README.md      text eol=crlf
*.anm          text eol=crlf encoding=cp932
*.exa          text eol=crlf encoding=cp932
*.lua          text eol=crlf encoding=cp932
*.lua-template text eol=crlf encoding=cp932
*.obj          text eol=crlf encoding=cp932
